{% load static %}
{% load cartcount %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags-->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- CSS Files-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'bootstrapScripts/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'mainapp/styles.css' %}"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans&family=Rubik:wght@200;300;500;900&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/1f06dfeacc.js"
            crossorigin="anonymous"
        ></script>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>TikTokped</title>
        {% endif %}
    </head>
    <body style="background-color: #fbfbfd; font-family: Roboto;">
        <nav class="navbar navbar-expand-sm navbar-light navbar-custom">
            <a class="navbar-brand" href="{% url 'mainapp-index' %}"
                ><span style="color: #FF9C27;">Tik</span
                ><span style="color: #51A0EA;">Tokped</span></a
            >
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars" style="font-size: 100%;"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'mainapp-index' %}"
                            >home <span class="sr-only">(current)</span></a
                        >
                    </li>
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-shopping-cart"></i>
                            {{cartcount}}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Hello, <b>{{request.user.username}}</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Transaction History</a>
                          <a class="dropdown-item" href="#">Reviews</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">login</a>
                    </li>
                    <li class="nav-item">
                        <span>
                            <a class="nav-link signup-button" href="{% url 'mainapp-register' %}"
                                >sign up</a
                            >
                        </span>
                    </li>
                    {% endif %}
                        

                </ul>
            </div>
        </nav>
        {% block content %} {% endblock %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
    </body>
    <!-- AJAX JSON Filler Script -->
    <script src="{% static 'mainapp/scripts/main.js' %}"></script>
    </body>
</html>
