{% extends "base.html" %} {% block content %} {% load static %}
<div class="container">
    <div class="row">
        <div
            class="col-md-12 category-header"
            style="
                text-align: center;
                font-size: 200%;
                font-weight: 400;
                line-height: 12vh;
            "
        >
            Fashion
        </div>
    </div>
    <div class="card-columns text-center">
        {% for fashitem in fashitems %}
        <div
            class="card"
            style="display: inline-block; text-align: left; max-width: 90%;"
        >
            <img src="{{fashitem.image}}" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">{{fashitem.item_name}}</h5>
                <p class="card-text">${{fashitem.price}}</p>
                <a
                    href="{% url 'mainapp-itempage' fashitem.id %}"
                    class="card-link"
                    >View</a
                >
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
