{% extends "base.html" %} {% block content %} {% load static %}
<section class="intro">
    <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-ride="carousel"
    >
        <ol class="carousel-indicators">
            <li
                data-target="#carouselExampleCaptions"
                data-slide-to="0"
                class="active"
            ></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="font-family: Rubik;">
            <div class="carousel-item active">
                <img
                    src="{% static 'images/caro1.png' %}"
                    class="d-block w-100"
                    alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                    <h1>Macboocc Pro</h1>
                    <p>
                        The latest and coolest macbooc to blow your money on.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    src="{% static 'images/caro2.png' %}"
                    class="d-block w-100"
                    alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                    <h2>iPhoney Ex XL</h2>
                    <p>
                        Your latest phoney ex, now extra large!
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    src="{% static 'images/caro3.png' %}"
                    class="d-block w-100"
                    alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                    <h2>Shamesung Galecsee</h2>
                    <p>
                        The newest space phone with slippery edges.
                    </p>
                </div>
            </div>
        </div>
        <a
            class="carousel-control-prev"
            href="#carouselExampleCaptions"
            role="button"
            data-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a
            class="carousel-control-next"
            href="#carouselExampleCaptions"
            role="button"
            data-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<div class="vertical-center">
    <div
        class="row justify-content-center"
        style="
            text-align: center;
            font-size: 170%;
            color: #f8f6f6f5;
            font-weight: 500;
            font-family: Rubik, sans-serif;
        "
    >
        <div
            class="col-md-4 category-panel"
            style="background-color: #ff9c27; padding: 11vw 0vw; width: 100%;"
        >
            <a
                href="{% url 'mainapp-fashion' %}"
                style="text-decoration: none; color: inherit;"
            >
                Fashion
            </a>
        </div>
        <div
            class="col-md-4 category-panel2"
            style="background-color: #51a0ea; padding: 11vw 0vw; width: 100%;"
        >
            <a
                href="{% url 'mainapp-tech' %}"
                style="
                    text-decoration: none;
                    color: inherit;
                    text-align: center;
                "
            >
                Technology
            </a>
        </div>
        <div
            class="col-md-4 category-panel"
            style="
                background-color: #ff9c27;
                padding: 11vw 0vw;
                width: 100%;
                padding-bottom: 38vh;
            "
        >
            <a
                href="{% url 'mainapp-travel' %}"
                style="text-decoration: none; color: inherit;"
            >
                Travel
            </a>
        </div>
    </div>
</div>

{% endblock content %}
