{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container" style="padding: 4vw 0px;">
    <div class="row">
        <div class="col-sm-8">
            <div class="container">
                <img
                    src="{{item.image}}"
                    width="600"
                    style="
                        max-width: 100%;
                        height: auto;
                        width: auto\9;
                        border-radius: 6px;
                    "
                    alt=""
                />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container" style="padding-top: 2vw;">
                <h2 style="font-family: Rubik, sans-serif;">
                    {{item.item_name}}
                </h2>
                <h5 style="color: #525252;">{{item.category}}</h5>
                <p style="color: #4b4b4b; font-size: 90%;">
                    {{item.description}}
                </p>
                <h6 style="color: #525252;">In stock: {{item.stock}}</h6>
                <h5 style="font-family: Rubik, sans-serif; font-weight: 200;">
                    ${{item.price}}
                </h5>
                <div>
                    {% if user.is_authenticated %}
                    <form name="buyform" action="POST">
                        <input
                            name="quantity"
                            style="font-size: 140%;"
                            type="number"
                            value="1"
                            min="0"
                            max="{{item.stock}}"
                            step="1"
                        />
                        <button
                            id="buybtn"
                            class="btn btn-success"
                            style="margin-bottom: 6px;"
                            type="submit"
                        >
                            Buy
                        </button>
                    </form>
                    {% else %}
                    <p style="color: #7a7979; font-size: 67%;">
                        You must be logged in to buy
                    </p>
                    <input
                        style="font-size: 140%;"
                        type="number"
                        value="1"
                        min="0"
                        max="{{item.stock}}"
                        step="1"
                    />
                    <button
                        class="btn btn-secondary"
                        style="margin-bottom: 6px;"
                        disabled
                    >
                        Buy
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="reviewcards" class="card-columns">
        {% for review in reviews %}
        <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
                <p>{{review.review_text}}</p>
                <small
                    ><p>
                        <i style="font-size: 90%;" class="fas fa-star"></i
                        >{{review.star}}/5
                    </p></small
                >
                <footer class="blockquote-footer">
                    <small class="text-muted">
                        <cite title="Author">{{review.author}}</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        {% endfor %}
    </div>
    <div class="container" style="padding: 5vw;">
        <h2 style="font-family: Rubik, sans-serif;">Submit a review.</h2>
        <form name="reviewform" action="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="{{request.user.username}}"
                    readonly
                />
            </div>
            <div class="form-group">
                <label for="">Stars</label>
                <select
                    name="stars"
                    class="form-control"
                    id="exampleFormControlSelect1"
                >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Review</label>
                <textarea
                    name="review_text"
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                ></textarea>
            </div>
            <button class="btn btn-primary" type="submit">
                Submit
            </button>
        </form>
    </div>
</div>
<script src="{% static 'scripts/bootstrap-input-spinner.js' %}"></script>
<script>
    $("input[type='number']").inputSpinner();
</script>
{% endblock content %}
