{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}
<!-- load oauth -->
{%load socialaccount%}
<!-- content -->
{%block content%}
<div class="container" style="text-align: center; padding: 5vh;">
    <!-- If user is logged in -->
    {% if user.is_authenticated %}
    <h3>Hi {{request.user.username}}, you are already logged in</h3>
    <p>Go to <a href="{%url 'mainapp-index'%}">homepage</a></p>
    <p><a href="{%url 'logout'%}">Logout</a></p>
    {% else %}
    <div class="row">
        <div class="col-sm-6">
            <div class="container" style="padding: 1vh;">
                <form method="POST" class="form-group">
                    {% csrf_token %} {{form|crispy}}
                    <button type="submit" class="btn btn-success">
                        Login
                    </button>
                    <br />
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container" style="padding: 1vh;">
                <h6>No account?</h6>
                <a href="{% url 'mainapp-register' %}"
                    ><button class="btn btn-primary btn-sm">Register</button></a
                >
                <br /><br />
                <p>or</p>
                <h6>Sign in with a Google account</h6>
                <img
                    src="https://pluspng.com/img-png/google-logo-png-open-2000.png"
                    alt="Google Logo"
                    height="50px"
                    width="50px"
                />
                <br />
                <a href="{% provider_login_url 'google' %}">
                    <button
                        class="btn btn-primary btn-sm"
                        style="margin-top: 10px;"
                    >
                        Go
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
