.signup-button {
    width: fit-content;
    border-radius: 18px;
    color: #2787df !important;
}
.navbar-custom {
    background-color: #fbfbfd;
    border-bottom: 1px solid lightgray;
    padding-left: 8vw;
    padding-right: 4vw;
    line-height: 7vh;
}
.navbar-brand {
    font-weight: 600;
    font-size: 200%;
}
.navbar-nav > li {
    margin-left: 10px;
    margin-right: 10px;
}
.category-header {
    color: #525252;

    text-align: center;
    font-size: 180%;
    font-weight: 200;
    line-height: 12vh;
    font-family: Rubik, sans-serif;
}
a:hover {
    transform: scale(1.1);
}

.mac {
    color: black;
    font-style: bold;
    font-weight: 300;
}

.carousel-caption {
    width: 200px;
    z-index: 10;
    color: black;
    text-align: center;
    top: 50%;
    left: 65%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 10px;
}
.carousel-caption p {
    font-size: 11pt;
    font-family: Roboto, sans-serif;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5;
    }

    30% {
        background-color: #66bf39;
    }

    60% {
        background-color: #eb670f;
    }

    90% {
        background-color: #f35;
    }

    100% {
        background-color: #864cbf;
    }
}
.category-panel {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@keyframes bgcolor2 {
    0% {
        background-color: #864cbf;
    }

    30% {
        background-color: #45a3e5;
    }

    60% {
        background-color: #66bf39;
    }

    90% {
        background-color: #eb670f;
    }

    100% {
        background-color: #f35;
    }
}
.category-panel2 {
    -webkit-animation: bgcolor2 20s infinite;
    animation: bgcolor2 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.card-title {
    font-family: Rubik, sans-serif;
}
